## CSVファイルを読み込む

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./sample_data/california_housing_train.csv")

In [3]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

## データを表示する

### とりあえず表示する

In [4]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [5]:
print(df)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]

In [6]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [7]:
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

### インデックスで行を指定する

In [8]:
df.iloc[1, :]    # 1行目の全列のデータを取得

longitude              -114.47
latitude                 34.40
housing_median_age       19.00
total_rooms            7650.00
total_bedrooms         1901.00
population             1129.00
households              463.00
median_income             1.82
median_house_value    80100.00
Name: 1, dtype: float64

In [9]:
type(df.iloc[1, :])

pandas.core.series.Series

In [10]:
df.iloc[0:3, :]    # 0行目から2行目までの全列のデータを取得

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0

In [11]:
df.iloc[:11:2, :]    # 先頭から10行目まで（増分2で）の全列のデータを取得

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
6,-114.58,33.61,25.0,2907.0,680.0,1841.0,633.0,2.6768,82400.0
8,-114.59,33.61,34.0,4789.0,1175.0,3134.0,1056.0,2.1782,58400.0
10,-114.60,33.62,16.0,3741.0,801.0,2434.0,824.0,2.6797,86500.0

#### 補足：ilocの列でのスライス

In [12]:
df.iloc[:10, :2]    # 0行目から9行目まで・0列目から1列目までのデータを取得

   longitude  latitude
0    -114.31     34.19
1    -114.47     34.40
2    -114.56     33.69
3    -114.57     33.64
4    -114.57     33.57
5    -114.58     33.63
6    -114.58     33.61
7    -114.59     34.83
8    -114.59     33.61
9    -114.60     34.83

### 列名で列を指定する

In [13]:
df["population"]

0        1015.0
1        1129.0
2         333.0
3         515.0
4         624.0
          ...
16995     907.0
16996    1194.0
16997    1244.0
16998    1298.0
16999     806.0
Name: population, Length: 17000, dtype: float64

In [14]:
type(df["population"])

pandas.core.series.Series

In [15]:
df.population

0        1015.0
1        1129.0
2         333.0
3         515.0
4         624.0
          ...
16995     907.0
16996    1194.0
16997    1244.0
16998    1298.0
16999     806.0
Name: population, Length: 17000, dtype: float64

In [16]:
df[["total_rooms", "households", "median_income"]]

       total_rooms  households  median_income
0           5612.0       472.0         1.4936
1           7650.0       463.0         1.8200
2            720.0       117.0         1.6509
3           1501.0       226.0         3.1917
4           1454.0       262.0         1.9250
...            ...         ...            ...
16995       2217.0       369.0         2.3571
16996       2349.0       465.0         2.5179
16997       2677.0       456.0         3.0313
16998       2672.0       478.0         1.9797
16999       1820.0       270.0         3.0147

[17000 rows x 3 columns]

In [17]:
# 列を「households」「median_income」に絞ったあと、10行目から19行目までを指定
df[["households", "median_income"]].iloc[10:20, :]

    households  median_income
10       824.0         2.6797
11       437.0         1.6250
12       211.0         2.1571
13       479.0         3.2120
14       300.0         0.8585
15       401.0         1.6991
16       256.0         2.9653
17        27.0         0.8571
18       320.0         1.2049
19        15.0         1.2656

In [18]:
# 逆に、行を指定したあと、それによって得られるDataFrameの「median_income」列を指定する
df.iloc[100:109, :]["median_income"]

100    6.3814
101    2.5769
102    2.4511
103    4.1293
104    2.2969
105    2.0463
106    3.1667
107    2.1792
108    2.0938
Name: median_income, dtype: float64

### 特定の条件による抽出

#### `.query()`メソッドを使う方法

In [19]:
# 世帯数が30未満の地域
df.query("households < 30")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
17,-114.65,32.79,21.0,44.0,33.0,64.0,27.0,0.8571,25000.0
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0
113,-115.80,33.26,2.0,96.0,18.0,30.0,16.0,5.3374,47500.0
116,-115.88,32.93,15.0,208.0,49.0,51.0,20.0,4.0208,32500.0
120,-115.94,33.38,5.0,186.0,43.0,41.0,21.0,2.7000,58800.0
...,...,...,...,...,...,...,...,...,...
16561,-122.69,39.04,9.0,254.0,50.0,66.0,29.0,2.7639,112500.0
16597,-122.71,38.91,20.0,41.0,18.0,94.0,10.0,1.3750,55000.0
16733,-122.89,39.42,16.0,411.0,114.0,26.0,19.0,0.4999,73500.0
16743,-122.91,39.18,43.0,89.0,18.0,86.0,27.0,2.0208,72500.0
16801,-123.17,40.31,36.0,98.0,28.0,18.0,8.0,0.5360,14999.0

#### 真偽値で指定する方法

In [20]:
# 人口が1000人以下か
df["population"] <= 1000

0        False
1        False
2         True
3         True
4         True
         ...
16995     True
16996    False
16997    False
16998    False
16999     True
Name: population, Length: 17000, dtype: bool

In [21]:
# 人口が1000人以下の地域
df[df["population"] <= 1000]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
...,...,...,...,...,...,...,...,...,...
16989,-124.21,40.75,32.0,1218.0,331.0,620.0,268.0,1.6528,58100.0
16992,-124.23,40.81,52.0,1112.0,209.0,544.0,172.0,3.3462,50800.0
16994,-124.25,40.28,32.0,1430.0,419.0,434.0,187.0,1.9417,76100.0
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

#### 複数の条件を指定する

##### `query()` の場合

In [22]:
df.query("population > 100 and households < 30")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2065,-117.33,33.97,8.0,152.0,19.0,1275.0,20.0,1.6250,162500.0
2164,-117.37,33.98,52.0,201.0,44.0,130.0,24.0,2.0250,125000.0
2379,-117.53,34.02,19.0,256.0,34.0,101.0,28.0,5.3269,375000.0
3630,-117.92,34.07,38.0,175.0,22.0,129.0,20.0,9.7066,182500.0
4001,-117.97,34.11,18.0,123.0,28.0,121.0,26.0,3.0417,137500.0
4461,-118.04,34.13,35.0,249.0,31.0,268.0,29.0,15.0001,500001.0
8292,-118.45,34.06,52.0,204.0,34.0,1154.0,28.0,9.3370,500001.0
8472,-118.48,34.02,11.0,72.0,16.0,150.0,20.0,2.6250,250000.0
9260,-119.09,34.22,8.0,40.0,10.0,309.0,16.0,4.0208,52500.0
10797,-120.70,35.32,46.0,118.0,17.0,6532.0,13.0,4.2639,350000.0
12305,-121.50,38.59,43.0,88.0,21.0,119.0,19.0,1.7250,67500.0
13355,-121.93,37.40,34.0,148.0,28.0,132.0,13.0,3.3750,67500.0
13563,-121.97,37.44,17.0,127.0,28.0,219.0,22.0,4.5179,112500.0
15696,-122.39,37.79,52.0,94.0,24.0,113.0,27.0,4.6563,350000.0

In [23]:
df.query("population < 100 or households < 30")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
17,-114.65,32.79,21.0,44.0,33.0,64.0,27.0,0.8571,25000.0
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0
113,-115.80,33.26,2.0,96.0,18.0,30.0,16.0,5.3374,47500.0
116,-115.88,32.93,15.0,208.0,49.0,51.0,20.0,4.0208,32500.0
120,-115.94,33.38,5.0,186.0,43.0,41.0,21.0,2.7000,58800.0
...,...,...,...,...,...,...,...,...,...
16643,-122.74,39.71,16.0,255.0,73.0,85.0,38.0,1.6607,14999.0
16733,-122.89,39.42,16.0,411.0,114.0,26.0,19.0,0.4999,73500.0
16743,-122.91,39.18,43.0,89.0,18.0,86.0,27.0,2.0208,72500.0
16801,-123.17,40.31,36.0,98.0,28.0,18.0,8.0,0.5360,14999.0
16851,-123.43,40.22,20.0,133.0,35.0,87.0,37.0,3.6250,67500.0

##### `query()` を使わない方法による複数条件の指定

In [24]:
df[(df["population"] > 100) & (df["households"]  < 30)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2065,-117.33,33.97,8.0,152.0,19.0,1275.0,20.0,1.6250,162500.0
2164,-117.37,33.98,52.0,201.0,44.0,130.0,24.0,2.0250,125000.0
2379,-117.53,34.02,19.0,256.0,34.0,101.0,28.0,5.3269,375000.0
3630,-117.92,34.07,38.0,175.0,22.0,129.0,20.0,9.7066,182500.0
4001,-117.97,34.11,18.0,123.0,28.0,121.0,26.0,3.0417,137500.0
4461,-118.04,34.13,35.0,249.0,31.0,268.0,29.0,15.0001,500001.0
8292,-118.45,34.06,52.0,204.0,34.0,1154.0,28.0,9.3370,500001.0
8472,-118.48,34.02,11.0,72.0,16.0,150.0,20.0,2.6250,250000.0
9260,-119.09,34.22,8.0,40.0,10.0,309.0,16.0,4.0208,52500.0
10797,-120.70,35.32,46.0,118.0,17.0,6532.0,13.0,4.2639,350000.0
12305,-121.50,38.59,43.0,88.0,21.0,119.0,19.0,1.7250,67500.0
13355,-121.93,37.40,34.0,148.0,28.0,132.0,13.0,3.3750,67500.0
13563,-121.97,37.44,17.0,127.0,28.0,219.0,22.0,4.5179,112500.0
15696,-122.39,37.79,52.0,94.0,24.0,113.0,27.0,4.6563,350000.0

In [25]:
df[(df["population"] < 100) | (df["households"]  < 30)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
17,-114.65,32.79,21.0,44.0,33.0,64.0,27.0,0.8571,25000.0
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0
113,-115.80,33.26,2.0,96.0,18.0,30.0,16.0,5.3374,47500.0
116,-115.88,32.93,15.0,208.0,49.0,51.0,20.0,4.0208,32500.0
120,-115.94,33.38,5.0,186.0,43.0,41.0,21.0,2.7000,58800.0
...,...,...,...,...,...,...,...,...,...
16643,-122.74,39.71,16.0,255.0,73.0,85.0,38.0,1.6607,14999.0
16733,-122.89,39.42,16.0,411.0,114.0,26.0,19.0,0.4999,73500.0
16743,-122.91,39.18,43.0,89.0,18.0,86.0,27.0,2.0208,72500.0
16801,-123.17,40.31,36.0,98.0,28.0,18.0,8.0,0.5360,14999.0
16851,-123.43,40.22,20.0,133.0,35.0,87.0,37.0,3.6250,67500.0

## 分析を行う

### データを分析する

In [26]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [27]:
df.corr()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.925208,-0.114250,0.047010,0.071802,0.101674,0.059628,-0.015485,-0.044982
latitude,-0.925208,1.000000,0.016454,-0.038773,-0.069373,-0.111261,-0.074902,-0.080303,-0.144917
housing_median_age,-0.114250,0.016454,1.000000,-0.360984,-0.320434,-0.295890,-0.302754,-0.115932,0.106758
total_rooms,0.047010,-0.038773,-0.360984,1.000000,0.928403,0.860170,0.919018,0.195383,0.130991
total_bedrooms,0.071802,-0.069373,-0.320434,0.928403,1.000000,0.881169,0.980920,-0.013495,0.045783
population,0.101674,-0.111261,-0.295890,0.860170,0.881169,1.000000,0.909247,-0.000638,-0.027850
households,0.059628,-0.074902,-0.302754,0.919018,0.980920,0.909247,1.000000,0.007644,0.061031
median_income,-0.015485,-0.080303,-0.115932,0.195383,-0.013495,-0.000638,0.007644,1.000000,0.691871
median_house_value,-0.044982,-0.144917,0.106758,0.130991,0.045783,-0.027850,0.061031,0.691871,1.000000

### データを可視化する

In [28]:
pd.plotting.scatter_matrix(df[['population', 'median_income', 'households']])

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

## 列を更新・追加する

### データ型の変更

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [ ]:
df[['households', 'population']] = df[['households', 'population']].astype(int)
df[['households', 'population']]

       households  population
0             472        1015
1             463        1129
2             117         333
3             226         515
4             262         624
...           ...         ...
16995         369         907
16996         465        1194
16997         456        1244
16998         478        1298
16999         270         806

[17000 rows x 2 columns]

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015,472,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129,463,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333,117,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515,226,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624,262,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907,369,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194,465,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244,456,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298,478,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806,270,3.0147,94600.0

In [ ]:
df["median_income"] = df.median_income.apply(round)
df[["median_income"]]

       median_income
0                  1
1                  2
2                  2
3                  3
4                  2
...              ...
16995              2
16996              3
16997              3
16998              2
16999              3

[17000 rows x 1 columns]

### 列の追加

In [ ]:
df["households_per_capita"] = df.households / df.population
df[["households_per_capita"]]

       households_per_capita
0                   0.465025
1                   0.410097
2                   0.351351
3                   0.438835
4                   0.419872
...                      ...
16995               0.406836
16996               0.389447
16997               0.366559
16998               0.368259
16999               0.334988

[17000 rows x 1 columns]

## NumPyとの関係

### DataFrameからndarrayを取り出す

In [ ]:
df.values

array([[-1.14310000e+02,  3.41900000e+01,  1.50000000e+01, ...,
         1.00000000e+00,  6.69000000e+04,  4.65024631e-01],
       [-1.14470000e+02,  3.44000000e+01,  1.90000000e+01, ...,
         2.00000000e+00,  8.01000000e+04,  4.10097431e-01],
       [-1.14560000e+02,  3.36900000e+01,  1.70000000e+01, ...,
         2.00000000e+00,  8.57000000e+04,  3.51351351e-01],
       ...,
       [-1.24300000e+02,  4.18400000e+01,  1.70000000e+01, ...,
         3.00000000e+00,  1.03600000e+05,  3.66559486e-01],
       [-1.24300000e+02,  4.18000000e+01,  1.90000000e+01, ...,
         2.00000000e+00,  8.58000000e+04,  3.68258860e-01],
       [-1.24350000e+02,  4.05400000e+01,  5.20000000e+01, ...,
         3.00000000e+00,  9.46000000e+04,  3.34987593e-01]])

In [ ]:
type(df.values)

numpy.ndarray

In [ ]:
df.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'median_house_value', 'households_per_capita'],
      dtype='object')

In [ ]:
for column in df.columns:
    print(column)

longitude
latitude
housing_median_age
total_rooms
total_bedrooms
population
households
median_income
median_house_value
households_per_capita

In [ ]:
data_by_columns = {}
for i, column in enumerate(df.columns):
    data_by_columns[column] = df.values[:, i]

data_by_columns

{'longitude': array([-114.31, -114.47, -114.56, ..., -124.3 , -124.3 , -124.35]),
 'latitude': array([34.19, 34.4 , 33.69, ..., 41.84, 41.8 , 40.54]),
 'housing_median_age': array([15., 19., 17., ..., 17., 19., 52.]),
 'total_rooms': array([5612., 7650.,  720., ..., 2677., 2672., 1820.]),
 'total_bedrooms': array([1283., 1901.,  174., ...,  531.,  552.,  300.]),
 'population': array([1015., 1129.,  333., ..., 1244., 1298.,  806.]),
 'households': array([472., 463., 117., ..., 456., 478., 270.]),
 'median_income': array([1., 2., 2., ..., 3., 2., 3.]),
 'median_house_value': array([ 66900.,  80100.,  85700., ..., 103600.,  85800.,  94600.]),
 'households_per_capita': array([0.46502463, 0.41009743, 0.35135135, ..., 0.36655949, 0.36825886,
        0.33498759])}

### ndarrayからDataFrameを取得する

In [ ]:
df_recover = pd.DataFrame(data_by_columns)
df_recover

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,households_per_capita
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.0,66900.0,0.465025
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,2.0,80100.0,0.410097
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,2.0,85700.0,0.351351
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.0,73400.0,0.438835
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,2.0,65500.0,0.419872
...,...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.0,111400.0,0.406836
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,3.0,79000.0,0.389447
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0,103600.0,0.366559
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,2.0,85800.0,0.368259
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0,94600.0,0.334988

## CSVファイルに書き込む

In [ ]:
df.to_csv("sample.csv")

In [ ]:
df.to_csv("sample.csv", index=False)